Package: com.yourcompany.shauntweak
Name: shauntweak
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Shaun K
Author: Shaun K
Section: Tweaks
