Package: com.yourcompany.shauntweak
Name: shauntweak
Depends: mobilesubstrate
Version: 1.0a
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Shaun Kollannur
Author: Shaun Kollannur
Section: Tweaks
